<% provide(:title, 'Add Inhabitant') %>
<h1>Add a New Inhabitant</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for([@aquarium, @inhabitant] ) do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <%= f.label :inhabitant_type %>
      <%= f.text_field :inhabitant_type, :class=>"form-control" %>

      <%= f.label :name %>
      <%= f.text_field :name, :class=>"form-control" %>

      <%= f.label :description %>
      <%= f.text_area :description, :class=>"form-control", :rows=>"6" %>

      <%= f.label :quantity %>
      <%= f.number_field :quantity, :class=>"form-control", :patter=>"\d*" %>
      
      <%= f.submit "Save", class: "btn btn-primary col-md-4 col-xs-4" %>
      <%= link_to "Cancel", aquarium_path(@aquarium.id), :class=>"btn btn-default col-md-4 col-md-offset-1 col-xs-4 col-xs-offset-1" %>
    <% end %>
  </div>
</div>
